<nav id="nav" class="mobile-hide">
  <div class="years">
    {{#each allYears}}
    <div class="nav-item identify">
      <a href="/curriculum/{{slug}}"><img src="{{cloudinaryUrl image}}" alt="CMD icon"><p>{{title}}</p></a>

    </div>
    {{/each}}
    <div class="nav-item back">
      <p onclick="history.back()"><img src="/images/terug.svg" alt="CMD icon">Terug</p>
    </div>
  </div>
</nav>
