body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 1em;
  font-size: 1.5em;
  text-align: center;
}

h2 {
  font-weight: 100;
}

/*Reusable classes*/
.standard-container {
  padding: 0 5vw;
  width: 100vw;
  height: 90vh;
  box-sizing: border-box;
}

.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr;
}

.flex-row {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.capitalize {
  text-transform: capitalize;
  font-weight: bold;
}

.hide {
  display: none;
}
/*End reusable classes*/


.curricula {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 100%;
  box-sizing: border-box;
}

.curriculum {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #FFCC00;
  box-sizing: border-box;
}

.curriculum:nth-of-type(1), .curriculum:nth-of-type(4) {
  background: #ffd633;
}

.curriculum:hover{
  background: #ffb600;
  transition: 0.5s;
}

.curriculum h2 {
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: 700;
}

.curriculum a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: black;
  font-size: 3.5vh;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 3em;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 11vh;
  background-position: center 15%;
}

.breadcrumb {
  font-size: 0.9em;
  color: #FFCC00;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding-top: 1em;
}

.breadcrumb-link {
  font-weight: 700;
  color: black;
}

/*Course types*/
.sort {
  display: grid;
  grid-template-columns: minmax(15em, 20em) minmax(20em, 25em);
  margin: 0 auto;
  justify-content: center;
  background: #A6D5C2;
  color: white;
}

.course-block {
  padding: 1em;
}

.sort-title {
  margin: 0;
  padding-bottom: 0.3em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.course-types {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.course-type {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0.1em;
  height: 3em;
  padding-left: 0.5em;
  border: white solid 0.1em;
  border-radius: 12.5em;
  box-sizing: border-box;
}

.course-type p {
  margin: 0;
  font-weight: 300;
}

.course-type a {
  display: grid;
  align-items: center;
  text-decoration: none;
  color: white;
  letter-spacing: 0.1em;
  font-weight: 200;
  font-size: 0.75em;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.course-type:hover {
  background: #B61C3E;
  border: #B61C3E 0.1em solid;
  transition: 0.3s;
}

.year {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  width: 100%;
}

.courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 50vh;
  grid-gap: .5em;
}

.course {
  flex-grow: 1;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.course:first-of-type {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.course h3 {
  font-size: 1em;
  font-weight: 100;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0.5em;
  box-sizing: border-box;
}

.course a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

.course h3:hover {
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
}

/*[Course page]*/

.course-detail {
  margin-right: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 70%;
}

.image {
  width: 50%;
  max-height: 40vh;
  overflow: hidden;
  flex-grow: 1;
}

.course-image {
  width: 100%;
}

.course-description {
  width: 50%;
  flex-grow: 1;
  min-width: 22em;
  padding-left: 1em;
  box-sizing: border-box;
}

.course-description h2 {
  margin-top: 0;
}

.suggestions {
  width: 20%;
  flex-grow: 1;
  min-width: 13em;
}

.suggestions h3 {
  margin-top: 0;
}

.course-suggestion, .course-suggestion:first-of-type {
  width: 100%;
}

/* INITIAL PAGE FOR YEAR  */
.column-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  grid-gap: 0.5em;
  justify-content: center;
}

.blokken {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
  align-content: start;
}

.blokken div {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-item {
  background: #FFCC00;
  box-sizing: border-box;
  background-image: url(/images/info.svg);
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: .2em .2em;
}

.project-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-align: center;
}

.vak {
  background: black;
  order: 1;
  box-sizing: border-box;
  background-image: url(/images/info.svg);
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: .2em .2em;
}


.vak a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-align: center;
}

.svg {
  width: 100%;
}

svg {
  width: 1em;
}

/*Legenda*/
.legenda {
  margin-top: 1em;
}

.legenda div {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.legenda p {
  margin: 0;
}

.projecten, .kernvakken {
  height: 3em;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-align: center;
  width: 10em;
}

.kernvakken {
  color: white;
}

.blokken .spotlight {
  animation: spotlight 1s ease-in-out;
  height: 4em;
  background-color: #A6D5C2;
}

.spotlight a {
  color: black;
}

@keyframes spotlight{
  0% {
    transform:  translate(0em,0em)  ;
  }
  15% {
    transform:  translate(0em,-1em)  ;
  }
  30% {
    transform:  translate(0em,0em)  ;
  }
  45% {
    transform:  translate(0em,-.8em)  ;
  }
  60% {
    transform:  translate(0em,0em)  ;
  }
  75% {
    transform:  translate(0em,-.2em)  ;
  }
  100% {
    transform:  translate(0em,0em)  ;
  }
}

/*Navigation*/
nav {
  background: #FFCC00;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.filter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  justify-items: center;
  background: #ffd633;
  color: black;
  font-weight: bold;
}

.filter p {
  margin: 0;
  padding: 0.5em;
}

.years {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  justify-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-item a {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav img {
  height: 2em;
  padding-right: 1em;
}

.toggle {
  width: 2em;
  height: 2em;
  background: #FFCC00;
  background-image: url(/images/menu.svg);
  position: fixed;
  top: 0;
  right: 0;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: 50%;
}


@media (max-width: 1022px) {
  .year-description {
    padding-bottom: 20em;
  }
}

@media (max-width: 600px) {
  .toggle {
    display: block;
    z-index: 999;
  }
  .mobile-hide {
    display: none;
  }
  nav {
    height: 100%;
  }
  .filter {
    padding-top: 2em;
  }
  .years, .filter {
    grid-template-columns: 1fr;
  }

  .year-description {
    padding-bottom: 0;
  }
}
