body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: #eee;
}

h1 {
  margin: 0;
  padding: 1em;
  font-size: 1.5em;
  text-align: center;
}

h2 {
  font-weight: 100;
  padding: 0.5em 0;
  margin: 0;
}

/*Reusable classes*/
.sidebar-layout {
  display: flex;
}

.standard-container {
  padding: 0 5vw;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-rows: max-content 1fr;
  height: 100vh;
}

.grid-row {
  display: grid;
  grid-template-columns: 1fr 25%;
  grid-gap: 1em;
  margin-top: 1em;
}

.capitalize {
  text-transform: capitalize;
  font-weight: bold;
}

.columns {
  columns: 20em 2;
  column-gap: 1.5em;
}

.content {
  width: 100%;
}
/*End reusable classes*/


.curricula {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 100%;
  box-sizing: border-box;
}

.curriculum {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #FFCC00;
  box-sizing: border-box;
}

.curriculum:nth-of-type(1), .curriculum:nth-of-type(4) {
  background: #ffd633;
}

.curriculum:hover{
  background: #ffb600;
  transition: 0.5s;
}

.curriculum h2 {
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: 700;
}

.curriculum a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: black;
  font-size: 3.5vh;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 3em;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 11vh;
  background-position: center 15%;
}

/* YEAR OVERVIEW */

.column-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  grid-gap: 0.5em;
  justify-content: center;
}

.year-title {
  text-align: center;
}

.blokken {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
  align-content: start;
}

.blok-title {
  font-size: 0.8em;
  background: #333;
  color: white;
  text-align: center;
  padding: 0.2em;
  margin-top: 0.5em;
}

.blok-title h2 {
  font-size: 1em;
  font-weight: bold;
}

.blok-title p, .blok-title h2 {
  padding: 0;
  margin: 0;
}

.header-semester-1 {
  grid-column: 1 / span 1;
}

.column-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));;
  grid-gap: 0.5em;
  align-content: start;
}

.vakken {
  display: flex;
  flex-direction: column;
}

.course {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
  order: 2;
  background: black;
  box-sizing: border-box;
  background-image: url(/images/info.svg);
  background-repeat: no-repeat;
  background-size: 0.8em;
  background-position: .2em .2em;
  padding: 0.5em;
}

.course a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-align: center;
}

.keuzevak, .keuzevak-legenda {
  background-color: #DECDBF;
  height: max-content;
  margin-bottom: 0.2em;
  padding: 0.1em 1em;
}

.keuzevak a {
  color: black;
}

.project, .project-legenda {
  order: 1;
  background-color: #FFCC00;
  box-sizing: border-box;
}

.project a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;
}

.stage, .stage-legenda {
  background-color: #EB5D56;
  order: 0;
  color: black;
}

.stage a {
  color: black;
}

svg {
  width: 1em;
}

/*Legenda*/
.legenda-container {
  background: white;
  padding: 0.5em;
  margin-bottom: 5em;
}

.legenda-container p {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

.legenda {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1em;
}

.legenda div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.legenda p {
  margin: 0;
  order: 1;
  margin-right: 1em;
}

.projecten, .kernvakken, .profilering, .stages {
  order: 1;
  height: 2em;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-align: center;
  width: 2em;
  margin-right: .5em;
}

.kernvakken {
  color: white;
}

.blokken .spotlight {
  animation: spotlight 1s ease-in-out;
  border-top: 0.3em solid #009B8F;
  background-position: 0.2em 0;
}

@keyframes spotlight{
  0% {
    transform:  translate(0em,0em)  ;
  }
  15% {
    transform:  translate(0em,-1em)  ;
  }
  30% {
    transform:  translate(0em,0em)  ;
  }
  45% {
    transform:  translate(0em,-.8em)  ;
  }
  60% {
    transform:  translate(0em,0em)  ;
  }
  75% {
    transform:  translate(0em,-.2em)  ;
  }
  100% {
    transform:  translate(0em,0em)  ;
  }
}

/*Description about the year*/
.year-description {
  font-size: 0.9em;
}

/*Detail page*/
.course-detail {
  padding: 1em;
  background: white;
}

.course h3 {
  font-size: 1em;
  font-weight: 100;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0.5em;
  box-sizing: border-box;
}

.course h3:hover {
  background: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}

/*[Course page]*/
.image {
  min-height: 30vh;
  max-height: 40vh;
  overflow: hidden;
  flex-grow: 1;
  background: #FFCC00;
}

.video {
  display: flex;
  flex-grow: 1;
}

iframe {
  margin: 0 auto;
}

iframe + p {
  display: none;
}

.course-image {
  transform: scale(1.1);
  width: 100%;
}

.course-description {
  box-sizing: border-box;
}

.course-description h2 {
  margin-top: 0;
}

.suggestions {
  flex-grow: 1;
  padding: 1em;
  background: white;
  height: max-content;
}

.suggestions h3 {
  margin-top: 0;
}

.course-suggestion {
  height: 9vw;
  margin-top: .5em;
  background-size: cover;
  background-position: 0;
  padding: 0;
}

.meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.meta p {
  margin: 0;
  margin-right: 1em;
  min-width: 11em;
}

.coursetype-tag {
  background: #333;
  color: white;
  width: max-content;
  padding: 0.5em;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 100;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 0.5em;
}

/*FILTER*/
.filter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  justify-items: start;
  padding-left: 2em;
  background: #A6D5C2;
  color: black;
  font-weight: bold;
  height: 100vh;
  margin-left: -14em;
  box-sizing: border-box;
  width: 16em;
  transition: 1s;
  animation: wellhello 1s 2;
}

.filter-title {
  position: absolute;
  cursor: pointer;
  transform: rotate(90deg);
  height: 5em;
  margin: 0;
  margin-left: 12em;
  margin-top: 9.5em;
  width: 9em;
  background: #a6d5c2;
  padding: 0.5em;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

.filter-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  align-items: flex-start;
}

.filter-clicked {
  color: #EB5D56;
}

.filter-item {
  z-index: 999;
  cursor: pointer;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-align: center;
  height: 3em;
}

.filter img {
  height: 2em;
  padding-right: 1em;
}

/*Extending the clickable area*/
.filter-title::before {
  content: '';
  padding: 0 100vh 2em 100vh;
  margin: 0 -100vh;
}

@keyframes wellhello{
  0% {
    transform:  translate(0em,0em);
  }
  15% {
    transform:  translate(-1em,0em);
  }
  30% {
    transform:  translate(0em,0em);
  }
  45% {
    transform:  translate(-.8em,0em);
  }
  60% {
    transform:  translate(0em,0em);
  }
  75% {
    transform:  translate(-.2em,0em);
  }
  100% {
    transform:  translate(0em,0em);
  }
}

.filter-toggled {
  margin: 0;
}

.filter-toggled .filter-title {
  margin-left: 9em;
}

/*Navigation*/
nav {
  background: #FFCC00;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.years {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  justify-items: center;
}

.back {
  cursor: pointer;
  background: #EB5D56;
  width: 20vw;
}

nav a, nav p {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-align: center;
}

.active a {
  font-weight: bold;
}

nav a:hover,
nav p:hover,
nav a:active,
nav p:active {
  font-weight: bold;
}

nav p {
  font-size: 0.8em;
}

.nav-item.identify {
  min-width: 10em;
}

.nav-item p, .nav-item a {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav img {
  height: 1.5em;
  padding-right: 1em;
}

.toggle {
  width: 2em;
  height: 2em;
  cursor: pointer;
  background: #FFCC00;
  background-image: url(/images/menu.svg);
  position: fixed;
  top: 0;
  right: 0;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
}

.hide {
  display: none;
}

@media (max-width: 81.3em) {
  .filter {
    position: fixed;
    z-index: 998;
    width: 13em;
    margin-left: -12em;
  }
  nav {
    z-index: 999;
  }
  .filter-toggled {
    margin-left: 0;
  }
  .filter-title {
    margin-left: 7.5em;
    width: 9em;
  }
}

@media (max-width: 60.1em) {
  .legenda-container {
    margin-bottom: 20em;
  }
  .filter-toggled .filter-title {
    margin-left: 10em;
  }
}

@media (max-width: 52.1em) {
  .grid-row {
    grid-template-columns: 1fr;
  }
  .suggestions {
    margin-bottom: 10em;
  }
  .filter-margin {
    padding-left: 4em;
  }
  .toggle {
    display: block;
    z-index: 999;
  }
  nav {
    height: 100%;
    width: 100%;
    z-index: 998;
  }
  .mobile-hide {
    display: none;
  }
  .back {
    display: none;
  }
  .years, .filter {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 47em) {
  .nav-item:first-of-type {
    width: 26vw
  }
}

@media (max-width: 35.3em) {
  .filter {
    height: 100%
  }
  .year-description {
    padding-bottom: 0;
  }
  .suggestions {
    margin-bottom: 1em;
  }
  .filter img {
    height: 1em;
    padding-right: 1em;
  }
  .curriculum a {
    background-size: 8vh;
    font-size: 3vh;
  }
  .columns {
    columns: 1em 1;
    width: 69vw;
  }
  .filter-title {
    margin-left: 8em;
  }
  .image {
    height: 30vh;
  }
}
/*If browser does not support grid*/
@supports (not (display: grid)) {
  .grid-container {
    display flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }
  .curricula {
    display: flex;
    flex-direction: row;
    height: 91%;
    flex-wrap: wrap;
  }
  .curriculum {
    width: 50vw;
    background: #FFCC00;
    box-sizing: border-box;
    height: auto;
  }
  .years {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .filter {
    display: flex;
  }
  .filter-toggled .filter-title {
    margin-left: 0;
  }
  .filter-title {
    min-width: 9em;
    margin-left: 0;
  }
  .filter-toggled {
    margin-left: 0;
  }
  .filter-items {
    height: 60%;
  }
  .column-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .blokken {
    display: flex;
    flex-direction: column;
    width: 24%;
    min-width: 14em;
    margin-right: .5em;
    flex-grow: 1;
  }
  .blokken:last-of-type {
    margin-right: 0;
  }
  .course {
    padding: .2em 1em;
    height: max-content;
  }
  .column-2 {
    display: flex;
    flex-direction: column;
  }
  .legenda-container {
    margin-bottom: 10em;
  }
  .grid-row {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-top: 2em;
    flex-wrap: wrap;
  }
  .course-detail {
    margin-right: 1em;
    min-width: 16em;
    max-width: 61vw;
    flex-grow: 1;
  }
  .suggestions {
    max-width: 12em;
  }
  @media (max-width: 59.938em) {
    .course-detail {
      max-width: none;
      margin: 0;
      margin-bottom: 1em;
    }
    .suggestions {
      max-width: none;
      width: 100%;
      margin-bottom: 10em;
    }
  }
}
