body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0.5em 0;
  font-size: 2em;
}

/*Navbar is annoying*/
.navbar {
  display: none;
}

/*Reusable classes*/
.standard-container {
  padding: 0 5vw;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.flex-row {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.capitalize {
  text-transform: capitalize;
  font-weight: bold;
}
/*End reusable classes*/


.curricula {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 50vw;
  box-sizing: border-box;
}

.curriculum {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49%;
  height: 23vw;
  background: #FFCC00;
  box-sizing: border-box;
}

.curriculum:hover{
  background: #ffb600;
  transition: 0.5s;
}

.curriculum h2 {
  width: 100%;
  height: 100%;
}

.curriculum a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: black;
  font-size: 3.8vw;
  text-align: center;
  text-decoration: none;
  padding-top: 3em;
  box-sizing: border-box;
  background-size: 6vw;
  background-position: center 15%;
}

.propedeuse {
  background: url("../images/propedeuse.svg") no-repeat;
}

.jaar-2 {
  background: url("../images/v1.svg") no-repeat;
}

.jaar-3 {
  background: url("../images/v2.svg") no-repeat;
}

.afstuderen {
  background: url("../images/afstuderen.svg") no-repeat;
}



.breadcrumb {
  font-size: 0.9em;
  color: #FFCC00;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.breadcrumb-link {
  font-weight: 700;
  color: black;
}


.year {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.course {
  width: 21vw;
  height: 11em;
  margin-right: 0.5vw;
  margin-bottom: 0.5vw;
  min-width: 15em;
  flex-grow: 1;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.course:first-of-type {
  width: 42.5vw;
}

.course h3 {
  font-size: 1em;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0.5em;
  box-sizing: border-box;
}

.course a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

.course h3:hover {
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
}

.course-types {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.course-type {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 0.5em;
  margin-right: 0;
  height: 3em;
  background: black;
  color: white;
  padding-left: 0.5em;
  box-sizing: border-box;
  font-weight: 700;
}

.course-type p {
  margin: 0;
}

.course-type a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.course-type .small-text {
  font-size: 0.8em;
  font-weight: 400;
  margin-top: 1em;
}

.course-detail {
  margin-right: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 70%;
}

.image {
  width: 50%;
  max-height: 40vh;
  overflow: hidden;
  flex-grow: 1;
}

.course-image {
  width: 100%;
}

.course-description {
  width: 50%;
  flex-grow: 1;
  min-width: 22em;
  padding-left: 1em;
  box-sizing: border-box;
}

.course-description h2 {
  margin-top: 0;
}

.suggestions {
  width: 20%;
  flex-grow: 1;
  min-width: 13em;
}

.suggestions h3 {
  margin-top: 0;
}

.course-suggestion, .course-suggestion:first-of-type {
  width: 100%;
}
